@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero-area bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="block">
                    <h1 class="wow fadeInDown" data-wow-delay="0.3s" data-wow-duration=".2s">Endüstriyel Çamaşır Yıkamada Teknolojik Çözümler</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.5s" data-wow-duration=".5s">Çamaşırlarınızı sizden alır en iyi şekilde yıkarız. İçiniz rahat olsun</p>
                    <div class="wow fadeInDown" data-wow-delay="0.7s" data-wow-duration=".7s">
                        <a class="btn btn-home" href="#about" role="button">İncelemek İçin</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 wow zoomIn">
                <div class="block">
                    <div class="counter text-center">
                        <ul id="countdown_dashboard">
                            <li>
                                <div class="dash days_dash">
                                    <div class="digit">5</div>
                                    <div class="digit">6</div>
                                    <div class="digit">7</div>
                                    <span class="dash_title">Gün</span>
                                </div>
                            </li>
                            <li>
                                <div class="dash hours_dash">
                                    <div class="digit">0</div>
                                    <div class="digit">7</div>
                                    <span class="dash_title">Saat</span>
                                </div>
                            </li>
                            <li>
                                <div class="dash minutes_dash">
                                    <div class="digit">1</div>
                                    <div class="digit">3</div>
                                    <span class="dash_title">Dakika</span>
                                </div>
                            </li>
                            <li>
                                <div class="dash seconds_dash">
                                    <div class="digit">2</div>
                                    <div class="digit">2</div>
                                    <span class="dash_title">Saniye</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- header close -->
<!--
About start
==================== -->
<section class="section about bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 wow fadeInLeft">
                <div class="content">
                    <div class="sub-heading">
                        <h3>RFID Teknolojisi</h3>
                    </div>
                    <p>
                        Tesislerimizde işlem gören tekstil ürünlerin tamamı "UHF-RFID Gerçek Zamanlı Tekstil Takip Sistemi" ile etiketlenerek otomasyona hazır hale getirilir.

                        Etiketlenen her bir tekstil ürününe müşteri adı ve cinsi tanımlanarak şirket veritabanına kaydedilir. Sisteme kaydedilen tekstil ürünlerinin gün içerisindeki tüm hareketleri müşteri tarafından online takip edilebilir ve raporlanabilir.
                    </p>

                </div>
            </div>
            <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="about-slider">
                    <img src="images/rfid.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section><!-- #about close -->
<!--
About start
==================== -->
<!--
Service start
==================== -->
<section id="service" class="service section">
    <div class="container">
        <div class="row">
            <div class="heading wow fadeInUp">
                <h2>Find Better Solutions Build Better Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft">
                <div class="block">
                    <i class="tf-strategy"></i>
                    <h3>Fully Responsive</h3>
                    <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="block">
                    <i class="tf-circle-compass"></i>
                    <h3>Speed Optimized</h3>
                    <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                <div class="block">
                    <i class="tf-anchor2"></i>
                    <h3>Tons of Feature</h3>
                    <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.9s">
                <div class="block">
                    <i class="tf-globe"></i>
                    <h3>Fully SEO Optimized</h3>
                    <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft">
                <div class="block">
                    <i class="tf-strategy"></i>
                    <h3>Fully Responsive</h3>
                    <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="block">
                    <i class="tf-circle-compass"></i>
                    <h3>Speed Optimized</h3>
                    <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                <div class="block">
                    <i class="tf-anchor2"></i>
                    <h3>Tons of Feature</h3>
                    <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.9s">
                <div class="block">
                    <i class="tf-globe"></i>
                    <h3>Cloud Option</h3>
                    <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                </div>
            </div>
        </div>
    </div><!-- .container close -->
</section><!-- #service close -->

<section class="call-to-action section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow text-center">
                <div class="block">
                    <h2>Subscribe to our mailing list</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    <div class="col-lg-6 offset-lg-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address Here">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-subscription" type="button">Subscribe</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
    </div>
</section><!-- #call-to-action close -->
<!--
Contact start
==================== -->
<section id="contact" class="section contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="block">
                    <div class="heading wow fadeInUp">
                        <h2>Get In Touch</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="form-group">
                    <form action="#" method="post" id="contact-form">
                        <div class="input-field">
                            <input type="text" class="form-control" placeholder="Your Name" name="name">
                        </div>
                        <div class="input-field">
                            <input type="email" class="form-control" placeholder="Email Address" name="email">
                        </div>
                        <div class="input-field">
                            <textarea class="form-control" placeholder="Your Message" rows="3" name="message"></textarea>
                        </div>
                        <button class="btn btn-send" type="submit">Send me</button>
                    </form>

                    <div id="success">
                        <p>Your Message was sent successfully</p>
                    </div>
                    <div id="error">
                        <p>Your Message was not sent successfully</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section clas="wow fadeInUp">
    <div class="map-wrapper">
    </div>
</section>
